.App {
  text-align: center;
  margin: 0; /* Loại bỏ khoảng cách lề ngoại vi */
  padding: 0; /* Loại bỏ đệm ngoại vi */
  box-sizing: border-box; /* Đảm bảo đệm và viền nằm bên trong chiều rộng */
}

header {
  background-color: #d20c0c;
  padding: 20px;
  width: 100%; /* Chiều rộng chiếm toàn bộ màn hình */
  margin: 0; /* Loại bỏ khoảng cách lề */
  box-sizing: border-box; /* Đảm bảo đệm và viền nằm bên trong chiều rộng */
}


h1.app-title {
  color: #0004df;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.form-container{
  width: 100%;
  height: 46vh;
  padding: 20px;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  transition: transform 0.3s, opacity 0.3s;
  background-image: url('/public/information-technology-nucb4z97b3q78mjk.jpg');
}

.App, .form-container, header {
  box-sizing: border-box; /* Đảm bảo đệm và viền nằm bên trong chiều rộng */
}
