/* App.css */
.App {
  text-align: center;
}

header {
  background-color: #d20c0c;
  padding: 20px;
}

h1.app-title {
  color: #0004df;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}








.form-container{
  width: 97.5%;
  height: 2000;
  padding: 20px;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform 0.3s, opacity 0.3s;
  background-image: url('/public/information-technology-nucb4z97b3q78mjk.jpg');
}
